<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Formulario Crear Contacto</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div class="navbar">
  <a href="/api/persona/registrar">Registrar Persona</a>
  <a href="/api/persona/lista">Lista de Personas</a>
  <a href="/api/persona/buscar">Buscar Personas</a>

  <a href="/api/empresa/registrar">Registrar Empresa</a>
  <a href="/api/empresa/lista">Lista de Empresas</a>
  <a href="/api/contacto/registrar">Registrar Contacto</a>
  <a href="/api/contacto/lista">Lista de Contactos</a>
</div>
<div>
  <button class="logout-btn" onclick="location.href='/api/logout'">Logout</button>
</div>

<div class="container">
  <h1>Crear Contacto</h1>
  <form action="/api/contacto/registro" method="post">

    <div class="input-group">
      <label for="idPersona">Persona:</label>
      <select id="idPersona" name="idPersona" required>
        <option value="">Seleccionar Persona</option>

        <option th:each="persona :${personas} "
                th:value="${persona.id}"
                th:text="${persona.nombre} +' ' + ${persona.apellido}" />

      </select>

    </div>

    <div  class="input-group">
      <label for="idEmpresa">Empresa:</label>
      <select id="idEmpresa" name="idEmpresa">
        <option>Seleccionar Empresa</option>

        <option th:each="empresa :${empresas}"
                th:value="${empresa.id}"
                th:text="${empresa.nombre}"/>
      </select>
    </div>

    <button type="submit">Crear Contacto</button>

    <div th:if="${error != null}" class="error-box">
      <h5>Mensaje de error</h5>
      <p th:text="${error}"></p>
    </div>
  </form>
</div>
</body>
</html>
