<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css" />
  <title>Formulario Empresa</title>
</head>
<body>
<div class="navbar">
  <a href="/api/persona/registrar">Registrar Persona</a>
  <a href="/api/persona/lista">Lista de Personas</a>
  <a href="/api/persona/buscar">Buscar Personas</a>

  <a href="/api/empresa/registrar">Registrar Empresa</a>
  <a href="/api/empresa/lista">Lista de Empresas</a>
  <a href="/api/contacto/registrar">Registrar Contacto</a>
  <a href="/api/contacto/lista">Lista de Contactos</a>

</div>
<div>
  <button class="logout-btn" onclick="location.href='/api/logout'">Logout</button>
</div>

<div class="container">
  <h1>Crear Empresa</h1>
  <form action="/api/empresa/registro" method="post">
    <div class="input-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
    </div>
    <div class="input-group">
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" name="direccion" required>
    </div>
    <div class="input-group">
      <label for="ciudad">Ciudad:</label>
      <input type="text" id="ciudad" name="ciudad" required>
    </div>
    <div class="input-group">
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" pattern="[0-9]+" required>
    </div>
    <div class="input-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="input-group">
      <label for="idContacto">Contacto:</label>
      <select id="idContacto" name="idContacto">
        <option>Seleccionar Contacto</option>
        <option th:each="contacto :${contactos}"
                th:value="${contacto.id}"
                th:text="${contacto.persona.nombre} +' '+ ${contacto.persona.apellido}"/>
      </select>
    </div>
    <button type="submit">Crear Empresa</button>
  </form>
</div>
</body>
</html>
