<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div>

    <form class="formulario" th:action="@{/api/persona/modificar/__${persona.id}__}" method="POST">

        <input hidden th:value="${id}" name="id">

        <div>
            <label>Nombre</label>
            <input th:value="${persona.nombre}" type="text" name="nombre" required>
        </div>

        <div>
            <label>Apellido</label>
            <input th:value="${persona.apellido}" type="text" name="apellido" required>
        </div>

        <div>
            <label>Ciudad</label>
            <input th:value="${persona.ciudad}" type="text" name="ciudad" required>
        </div>

        <div>
            <label>Teléfono</label>
            <input th:value="${persona.telefono}" type="tel" pattern="[0-9]+" name="telefono" required>
        </div>

        <div>
            <label>Email</label>
            <input th:value="${persona.email}" type="email" name="email" required>
        </div>

        <button type="submit">Actualizar</button>
        <div class="back-buttons">
            <a href="/api/persona/lista" class="back-button">Volver a Lista de Personas</a>
        </div>
    </form>

</div>
</body>
</html>
