<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css" />

  <title>formulario persona</title>
</head>
<body>
<div class="navbar">
  <a href="/api/persona/registrar">Registrar Persona</a>
  <a href="/api/persona/lista">Lista de Personas</a>
  <a href="/api/persona/buscar">Buscar Personas</a>

  <a href="/api/empresa/registrar">Registrar Empresa</a>
  <a href="/api/empresa/lista">Lista de Empresas</a>
  <a href="/api/contacto/registrar">Registrar Contacto</a>
  <a href="/api/contacto/lista">Lista de Contactos</a>

</div>
<div>
  <button class="logout-btn" onclick="location.href='/api/logout'">Logout</button>
</div>

<div class="container">

  <h1>Crear Persona</h1>
  <form action="/api/persona/registro" method="post">
    <div class="input-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
    </div>
    <div class="input-group">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" required>
    </div>
    <div class="input-group">
      <label for="ciudad">Ciudad:</label>
      <input type="text" id="ciudad" name="ciudad" required>
    </div>
    <div class="input-group">
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" pattern="[0-9]+" required>
    </div>
    <div class="input-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Crear Persona</button>
  </form>
</div>
</body>
</html>