<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista de Empresas</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div class="container" id="tabla">
  <h1>Lista de Empresas</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Contactos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empresa :${empresas}">
      <td th:text="${empresa.id}"></td>
      <td th:text="${empresa.nombre}"></td>
      <td th:text="${empresa.direccion}"></td>
      <td th:text="${empresa.ciudad}"></td>
      <td th:text="${empresa.telefono}"></td>
      <td th:text="${empresa.email}"></td>
      <td>
        <select class="contactos-select">
          <option>Contactos</option>
          <option th:each="contacto :${empresa.contactos}"
                  th:value="${contacto.id}"
                  th:text="|${contacto.persona.nombre} ${contacto.persona.apellido} (${contacto.persona.ciudad}) - Tel: ${contacto.persona.telefono} - Email: ${contacto.persona.email}|">
          </option>

        </select>
      </td>
      <td>
        <a th:href="@{/api/empresa/modificar/__${empresa .id}__}" class="button">Modificar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>