<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista de Empresas</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div class="navbar">
  <a href="/api/persona/registrar">Registrar Persona</a>
  <a href="/api/persona/lista">Lista de Personas</a>
  <a href="/api/empresa/registrar">Registrar Empresa</a>
  <a href="/api/empresa/lista">Lista de Empresas</a>
  <a href="/api/contacto/registrar">Registrar Contacto</a>
  <a href="/api/contacto/lista">Lista de Contactos</a>

</div>
<div>
  <button class="logout-btn" onclick="location.href='/api/logout'">Logout</button>
</div>

<div class="container" id="tabla">
  <h1>Lista de Empresas</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Contactos</th>
      <th>Opciones</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empresa :${empresas}">
      <td th:text="${empresa.id}"></td>
      <td th:text="${empresa.nombre}"></td>
      <td th:text="${empresa.direccion}"></td>
      <td th:text="${empresa.ciudad}"></td>
      <td th:text="${empresa.telefono}"></td>
      <td th:text="${empresa.email}"></td>
      <td>
        <select class="contactos-select">
          <option>Contactos</option>
          <option th:each="contacto :${empresa.contactos}"
                  th:value="${contacto.id}"
                  th:text="|${contacto.persona.nombre} ${contacto.persona.apellido} (${contacto.persona.ciudad}) - Tel: ${contacto.persona.telefono} - Email: ${contacto.persona.email}|">
          </option>

        </select>

      </td>
      <td>
        <a th:href="@{/api/empresa/modificar/__${empresa.id}__}" class="button">Modificar</a>
      </td>
      <td>
        <a th:href="@{/api/empresa/agregar-contacto/__${empresa.id}__}" class="button">Agregar contacto</a>
      </td>
      <td>
        <a th:href="@{/api/empresa/eliminar-contacto/__${empresa.id}__}" class="button">Eliminar contacto</a>
      </td>
      <td>
        <a th:href="@{/api/empresa/eliminar-empresa/__${empresa.id}__}" class="button">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:if="${error != null}" class="error-box">
    <h5>Mensaje</h5>
    <p th:text="${error}"></p>
  </div>
</div>
</body>
</html>