<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" />
    <title>Tabla de Contactos</title>
</head>
<body>
<div class="navbar">
    <a href="/api/persona/registrar">Registrar Persona</a>
    <a href="/api/persona/lista">Lista de Personas</a>
    <a href="/api/persona/buscar">Buscar Personas</a>

    <a href="/api/empresa/registrar">Registrar Empresa</a>
    <a href="/api/empresa/lista">Lista de Empresas</a>
    <a href="/api/contacto/registrar">Registrar Contacto</a>
    <a href="/api/contacto/lista">Lista de Contactos</a>

</div>
<div>
    <button class="logout-btn" onclick="location.href='/api/logout'">Logout</button>
</div>

<div class="container" id="tabla">
    <h1>Lista de Contactos</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Empresa</th>
            <th>Persona</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contacto :${contactos}">
            <td th:text="${contacto.id}"></td>
            <td th:text="${contacto.empresa != null ? contacto.empresa.nombre : 'Sin empresa'}"></td>
            <td th:text="|${contacto.persona.nombre} ${contacto.persona.apellido}|"></td>
            <td>
                <a th:href="@{/api/contacto/modificar/__${contacto.id}__}" class="button">Modificar</a>
                <a th:href="@{/api/contacto/eliminar/__${contacto.id}__}" class="button">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <div th:if="${error != null}" class="error-box">
            <h5>Mensaje</h5>
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>
