<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Personas</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<div class="navbar">
  <a href="/api/persona/registrar">Registrar Persona</a>
  <a href="/api/persona/lista">Lista de Personas</a>
  <a href="/api/empresa/registrar">Registrar Empresa</a>
  <a href="/api/empresa/lista">Lista de Empresas</a>
  <a href="/api/contacto/registrar">Registrar Contacto</a>
  <a href="/api/contacto/lista">Lista de Contactos</a>
</div>
<div class="container" id="tabla">
  <h1>Lista de Personas</h1>
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Ciudad</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="persona : ${personas}">
      <td th:text="${persona.id}"></td>
      <td th:text="${persona.nombre}"></td>
      <td th:text="${persona.apellido}"></td>
      <td th:text="${persona.ciudad}"></td>
      <td th:text="${persona.telefono}"></td>
      <td th:text="${persona.email}"></td>
      <td>
        <a th:href="@{/api/persona/modificar/__${persona.id}__}" class="button">Modificar</a>
        <a th:href="@{/api/persona/eliminar/__${persona.id}__}" class="button">Eliminar</a>

      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
